html {
  font-family: 'Merriweather', serif;
}

td {
  text-align: right;
  height: 8.5em;
  border-color: #ccc;
}

th {
  border-color: #ccc;
}

thead, tbody {
  border-color: #ccc;
}

table {
  border-color: #ccc;
}

.event-gray {
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 5px;
}

.event-red {
  color: #991919;
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  border-radius: 5px;
}

.event-green {
  color: #6b7e54;
  background-color: #d1e0bf;
  border: 1px solid #51603f;
  border-radius: 5px;
}

.event-blue {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 5px;
}
